<link rel="stylesheet" href="/static/common/css/message.css" type="text/css"/>
<script>
    $(function () {
        $.get('/common/get_all_message', function (data) {
            res = data.allMsg
            console.log(res)
            $("#username").val(res[0])//用户姓名
            $("#id_card").val(res[1])//身份证号码
            $("#phone").val(res[2])//电话号码
            $("#tyshzxm").val(res[3])//社会统一征信码
            $("#zzjgdm").val(res[4])//组织机构代码
            $("#vin").val(res[5])//车辆车架号
            $("#zzm").val(res[6])//中征码
            $("#gonghang").val(res[7])//工行银行卡号
            $("#nonghang").val(res[8])//农行银行卡号
            $("#jiaohang").val(res[9])//交行银行卡号
            $("#zhonghang").val(res[10])//中行银行卡号
            $("#jianshe").val(res[11])//建行银行卡号
        });
        $('#username_button').click(function () {
            get_message_by_type_method("name", "#username")
        });
        $('#id_card_button').click(function () {
            get_message_by_type_method("idCard", "#id_card")
        });
        $('#phone_button').click(function () {
            get_message_by_type_method("phone", "#phone")
        });
        $('#tyshzxm_button').click(function () {
            get_message_by_type_method("social_credit", "#tyshzxm")
        });
        $('#zzjgdm_button').click(function () {
            get_message_by_type_method("organization", "#zzjgdm")
        });
        $('#vin_button').click(function () {
            get_message_by_type_method("vin", "#vin")
        });
        $('#zzm_button').click(function () {
            get_message_by_type_method("zzm", "#zzm")
        });
        $('#gonghang_button').click(function () {
            get_message_by_type_method("gonghang", "#gonghang")
        });
        $('#nonghang_button').click(function () {
            get_message_by_type_method("nonghang", "#nonghang")
        });
        $('#jiaohang_button').click(function () {
            get_message_by_type_method("jiaotong", "#jiaohang")
        });
        $('#zhonghang_button').click(function () {
            get_message_by_type_method("zhongguo", "#zhonghang")
        });
        $('#jianshe_button').click(function () {
            get_message_by_type_method("jianshe", "#jianshe")
        });
        $('#all_button').click(function () {
            $.ajax({
                'url': "/common/get_all_message",
                'dataType': 'json',
                "type": "get",
            }).done(function (data) {
                res = data.allMsg
                $("#username").empty().val(res[0])//用户姓名
                $("#id_card").empty().val(res[1])//身份证号码
                $("#phone").empty().val(res[2])//电话号码
                $("#tyshzxm").empty().val(res[3])//社会统一征信码
                $("#zzjgdm").empty().val(res[4])//组织机构代码
                $("#vin").empty().val(res[5])//车辆车架号
                $("#zzm").empty().val(res[6])//中征码
                $("#gonghang").empty().val(res[7])//工行银行卡号
                $("#nonghang").empty().val(res[8])//农行银行卡号
                $("#jiaohang").empty().val(res[9])//交行银行卡号
                $("#zhonghang").empty().val(res[10])//中行银行卡号
                $("#jianshe").empty().val(res[11])//建行银行卡号
            })
        });
        $("#copy_username").click(function () {
            copy_way('#username')
        })
        $("#copy_card").click(function () {
            copy_way('#id_card')
        })
        $("#copy_phone").click(function () {
            copy_way('#phone')
        })
        $("#copy_tyshzxm").click(function () {
            copy_way('#tyshzxm')
        })
        $("#copy_zzjgdm").click(function () {
            copy_way('#zzjgdm')
        })
        $("#copy_vin").click(function () {
            copy_way('#vin')
        })
        $("#copy_zzm").click(function () {
            copy_way('#zzm')
        })
        $("#copy_gonghang").click(function () {
            copy_way('#gonghang')
        })
        $("#copy_nonghang").click(function () {
            copy_way('#nonghang')
        })
        $("#copy_jiaohang").click(function () {
            copy_way('#jiaohang')
        })
        $("#copy_zhonghang").click(function () {
            copy_way('#zhonghang')
        })
        $("#copy_jianshe").click(function () {
            copy_way('#jianshe')
        })

        function get_message_by_type_method(type, el) {
            $.ajax({
                'url': "/common/get_message_by_type",
                'dataType': 'json',
                "type": "post",
                "data": {"type": type},
                success: function (data) {
                    res = data.type_msg
                    $(el).empty().val(res)
                },
                error: function () {
                    $(el).empty().val("接口返回错误")
                }
            })
        }

        function copy_way(id) {
            var input = $(id);
            input.select();
            document.execCommand("Copy");
        }
    })
</script>
<h1>常用测试数据自动生成</h1>

<div>
    <form id="get_message_form" method="get">
        <table>
            <tbody>
            <tr>
                <td></td>
                <td></td>
                <td><input type="button" id="all_button" value="重新获取全部的测试数据" class="test_button"></td>
            </tr>
            <tr>
                <td><p>用户姓名:</p></td>
                <td><input id="username" name="username" class="text_input"></td>
                <td><input type="button" id="username_button" value="重新获取数据" class="text_input"></td>
                <td><input type="button" id="copy_username" value="复制信息" class="copy_text"></td>
            </tr>
            <tr>
                <td><p>身份证号码:</p></td>
                <td><input id="id_card" name="id_card" class="text_input" value="{{ data.idCard }}"></td>
                <td><input type="button" id="id_card_button" value="重新获取数据" class="test_button"></td>
                <td><input type="button" id="copy_card" value="复制信息" class="copy_text"></td>
            </tr>
            <tr>
                <td><p>电话号码:</p></td>
                <td><input id="phone" name="phone" class="text_input"></td>
                <td><input type="button" id="phone_button" value="重新获取数据" class="test_button"></td>
                <td><input type="button" id="copy_phone" value="复制信息" class="copy_text"></td>
            </tr>
            <tr>
                <td><p>社会统一征信码:</p></td>
                <td><input id="tyshzxm" name="tyshzxm" class="text_input"></td>
                <td><input type="button" id="tyshzxm_button" value="重新获取数据" class="test_button"></td>
                <td><input type="button" id="copy_tyshzxm" value="复制信息" class="copy_text"></td>
            </tr>
            <tr>
                <td><p>组织机构代码:</p></td>
                <td><input id="zzjgdm" name="zzjgdm" class="text_input"></td>
                <td><input type="button" id="zzjgdm_button" value="重新获取数据" class="test_button"></td>
                <td><input type="button" id="copy_zzjgdm" value="复制信息" class="copy_text"></td>
            </tr>
            <tr>
                <td><p>车辆车架号:</p></td>
                <td><input id="vin" name="vin" class="text_input"></td>
                <td><input type="button" id="vin_button" value="重新获取数据" class="test_button"></td>
                <td><input type="button" id="copy_vin" value="复制信息" class="copy_text"></td>
            </tr>
            <tr>
                <td><p>中征码:</p></td>
                <td><input id="zzm" name="zzm" class="text_input"></td>
                <td><input type="button" id="zzm_button" value="重新获取数据" class="test_button"></td>
                <td><input type="button" id="copy_zzm" value="复制信息" class="copy_text"></td>
            </tr>
            <tr>
                <td><p>工行银行卡号:</p></td>
                <td><input id="gonghang" name="gonghang" class="text_input"></td>
                <td><input type="button" id="gonghang_button" value="重新获取数据" class="test_button"></td>
                <td><input type="button" id="copy_gonghang" value="复制信息" class="copy_text"></td>
            </tr>
            <tr>
                <td><p>农行银行卡号:</p></td>
                <td><input id="nonghang" name="nonghang" class="text_input"></td>
                <td><input type="button" id="nonghang_button" value="重新获取数据" class="test_button"></td>
                <td><input type="button" id="copy_nonghang" value="复制信息" class="copy_text"></td>
            </tr>
            <tr>
                <td><p>交行银行卡号:</p></td>
                <td><input id="jiaohang" name="jiaohang" class="text_input"></td>
                <td><input type="button" id="jiaohang_button" value="重新获取数据" class="test_button"></td>
                <td><input type="button" id="copy_jiaohang" value="复制信息" class="copy_text"></td>
            </tr>
            <tr>
                <td><p>中行银行卡号:</p></td>
                <td><input id="zhonghang" name="zhonghang" class="text_input"></td>
                <td><input type="button" id="zhonghang_button" value="重新获取数据" class="test_button"></td>
                <td><input type="button" id="copy_zhonghang" value="复制信息" class="copy_text"></td>
            </tr>
            <tr>
                <td><p>建行银行卡号:</p></td>
                <td><input id="jianshe" name="jianshe" class="text_input"></td>
                <td><input type="button" id="jianshe_button" value="重新获取数据" class="test_button"></td>
                <td><input type="button" id="copy_jianshe" value="复制信息" class="copy_text"></td>
            </tr>
            </tbody>
        </table>
    </form>
</div>
<div id="gg">
    <p><b>告知：自动生成的测试数据仅用来测试，禁止用于非法途径。<br/>
        告知：自动生成的测试数据仅用来测试，禁止用于非法途径。<br/>
        告知：自动生成的测试数据仅用来测试，禁止用于非法途径。<br/>
    </b></p>
</div>
